body {
    margin: 0;
    padding: 0;
    color: #606060;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    visibility: visible;
}

.wrapper {
    background-attachment: fixed;
    background-image: url("../img/wrapper-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15rem;
}

.header-style {
    left: 0;
    position: absolute;
    top: 2.5rem;
    width: 100%;
    z-index: 9999;
}

.header-content {
    border-bottom: 5px solid #d3d3d3;
    /* margin: 0 15px; */
}

.bg-white {
    background: #fff none repeat scroll 0 0 !important;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 4rem;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.main-menu {
    display: flex;
    justify-content: flex-end;
}

.main-menu li.menu-list {
    position: relative;
    cursor: pointer;
}

.main-menu li:hover {
    border-bottom: 3px solid #3e0c0c;
}

.menu-list a {
    font-size: 20px;
    color: #3e0c0c;
}

.menu-list a:hover {
    color: #830606;
    font-size: 22px;
}

.content {
    margin-bottom: 10rem;
}

.content h1 {
    color: #fff;
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 0 30px;
}

.content h3 {
    color: #fff;
    font-size: 20px;
    display: block;
    font-weight: 400;
    margin: 0 0 20px;
}

.fix {
    overflow: hidden;
}

.search {
    width: 100%;
    background-color: white;
    border-radius: 6px;
    /* margin-bottom: 12.45rem; */
}

.inner-form {
    padding: 0;
    display: flex;
    justify-content: center;
    background-position: center center;
    height: 50px;
}

.inner-form .input-field {
    height: 50px;
}


.inner-form .input-field .type {
    text-align: center;
    line-height: 50px;
    width: 25%;
}

.inner-form .input-field .keyword {
    flex-grow: 1;
}

span .input-group-btn {
    border-left: 0;
}

.btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    background: #63c76a;
    transition: all .2s ease-out, color .2s ease-out;
}

.btn-search-btn {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

[data-overlay] {
    position: relative;
}

[data-overlay]:before {
    position: absolute;
    content: '';
    background: #e5cdad86;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

[data-overlay] *:not(.background-image-holder):not(.instafeed--background) {
    z-index: 2;
}

[data-overlay].image--light:before {
    background: #fff;
}

[data-overlay].bg--primary:before {
    background: #425cbb;
}

[data-overlay="1"]:before {
    opacity: 0.1;
}

[data-overlay="2"]:before {
    opacity: 0.2;
}

[data-overlay="3"]:before {
    opacity: 0.3;
}

[data-overlay="4"]:before {
    opacity: 0.4;
}

[data-overlay="5"]:before {
    opacity: 0.5;
}

[data-overlay="6"]:before {
    opacity: 0.6;
}

[data-overlay="7"]:before {
    opacity: 0.7;
}

[data-overlay="8"]:before {
    opacity: 0.8;
}

[data-overlay="9"]:before {
    opacity: 0.9;
}

[data-overlay="10"]:before {
    opacity: 1;
}

[data-overlay="0"]:before {
    opacity: 0;
}

[data-overlay="0"]>div {
    z-index: 5;
    color: #fff;
}

[data-overlay]>div,
[data-overlay]>form,
[data-overlay]>img,
[data-overlay]>section {
    position: relative;
    z-index: 5;
}


h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #7ac400;
    left: 0;
    right: 0;
    bottom: -20px;
}

.carousel {
    margin: 50px auto;
    padding: 0 70px;
}

.carousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}

.carousel .thumb-wrapper {
    padding: 25px 15px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.carousel .item h4 {
    font-size: 18px;
}

.carousel .item h4,
.carousel .item p,
.carousel .item ul {
    margin-bottom: 5px;
}

.carousel .thumb-content .btn {
    color: #3e0c0c;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #3e0c0c;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

.carousel .thumb-content .btn:hover,
.carousel .thumb-content .btn:focus {
    color: #fff;
    background: #830707;
    box-shadow: none;
}

.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 44px;
    width: 40px;
    background: #3e0c0c;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: #830707;
    opacity: 1;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

.carousel-control-prev i {
    margin-left: -2px;
}

.carousel-control-next i {
    margin-right: -4px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

.carousel .wish-icon .fa-heart {
    color: #ff6161;
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

body {
    background: #eee
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

/* table */
.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

.table-hover tbody tr:hover>td {
    background-color: #830707;
    color: #fff;
}


/* Contact */
.contact .info {
    border-top: 3px solid #16df7e;
    border-bottom: 3px solid #16df7e;
    padding: 30px;
    width: 100%;
    background-color: #f9f9fa;
}

.contact .info i {
    font-size: 20px;
    color: #16df7e;
    float: left;
    width: 44px;
    height: 44px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info i:hover {
    font-size: 20px;
    background: #16df7e;
    float: left;
    width: 44px;
    height: 44px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact button[type="submit"] {
    background: #16df7e;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact button[type="submit"]:hover {
    background: #206bfb;
}

/* Counter */
.counter-list {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;

}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #400e0e;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #830707;
}

/* Footer */
.section-padding {
    padding: 60px 0;
}

.bottom {
    background-color: #3f0e0e;
}

.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}

.copyright a {
    font-size: 20px;
    font-style: none;
    color: #830707;
    margin-left: 3px;
    padding-right: 3px;
}

.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}

.copyright p span {
    color: #d1caca;
}

.bottom .copyright p,
.bottom .copyright a:hover {
    color: #6c6d83;
}